html,
body {
    height: 100%;
    position: relative;
    margin: auto;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    max-width: 92%;
    line-height:1.25;
    /* border-style: solid; */
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 50px;
    background-color: #f0303f;
}

/* specific block style for non-portfolio pages; shorter in width */
.contentWrapper{
    float:center;
    display:flex;
    /* background-color:purple; */
    max-width:1400px;
    width:100%;
    margin: 0 auto 0 auto;
}

/* specific content style for non-portfolio page, left aligned and scalable */
.contentLeft {
    float: left;
    display: inline;
    /* margin-left: 15%;
    margin-right: auto; */
    /* margin-bottom: 1%; */
    /* width: 100%; */
    width: 750px;
    margin-top:1%;
    /* border-style: solid; */
}




/* full-width content style */
.content {
    float: left;
    display: inline;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 100%;
    margin-top:1%;
    /* background-color:lightblue; */
    /* border-style: solid; */
}

.portfolioContent{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top:auto;
}

.portfolioContent img{
    height: auto;
    max-height:100vh;
    max-width:550px;
    padding-top:1em;
}

/* important psuedo-object for vertical aligning */
.portfolioContent:before{
    content:"";
    display:inline-block;
    vertical-align:middle;
    /* height:100%; */
}

/* for the illustration page, vertically aligned and responsive */
img.imageStack{
    display:inline-block;
    vertical-align:middle;
}

/* main portfolio body text */
p.portfolio{
    max-width:1000px;
    margin:auto;
    font-weight:400;
    /* font-size:13px; */
    /* background-color:blue; */
}

p.portfolio2{
    max-width:1000px;
    margin:auto;
    font-weight:400;
    font-size:93%;
}

/* p.backNav{
    max-width:1000px;
    font-weight:400;
    font-size:90%;
    padding-top:3.5em;
} */

.videoWrapper{
    position:relative;
    padding-bottom:56.25%; /*should be 56.25% for 16:9*/
    height:0;
}

.videoWrapper iframe{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height:563px;
}

.center{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

header {
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 5%;
    margin-top:
    /* background-color: #gray; */
}

h2 {
    font-size: 35px;
    font-family: 'Rubik';
    font-weight: 400;
}

/* h3 {
    font-size: 22px;
    font-family: 'Rubik';
    font-weight: 300;
    text-transform: uppercase;
} */

/* all caps subheading */
h4{
    text-transform:uppercase;
    font-weight:200;
}

hr.solid{
    color:rgb(243, 243, 243);
    width:90%;
}

footer {
    position: absolute;
    bottom: 10;
    /* left: 5%; */
    width: 100%;
    height: 50px;
    text-align: center; 
    /* background-color: #883c3c; */
}

.copyright {
    float: ;
    font-family: 'Karla';
    font-weight:300;
    font-size:16px;
    color: rgb(0, 0, 0);
    padding-bottom:1em;
    padding-right:.5em;
}



/* Navigation container */
.topnavWrapper {
    display:flex;
    position:fixed;
    /* float: left; */
    /* height: 100px; */
    /* padding-top: .8em; */
    /* padding-left: 15em; */
    margin:26px auto;
    /* font-family: 'Karla'; */
    justify-content:flex-start;
    align-items:center;
    background-color: lightblue;
    width:84.8%;
    float:right;
}

/* .navLeft{
    flex:1;
    justify-content:flex-start;
    align-items:center;
    border:1;
} */

.title {
    float: left;
    /* display:block; */
    width:max-content;
    /* height: 100px; */
    /* padding-top: 1em; */
    /* background-color: #333; */
}

.title a {
    color: black;
    text-decoration: none;
}

.title a:hover{
    color:black;
}

.title p {
    font-family: "brandon-grotesque";
    font-weight: 700;
    text-transform: uppercase;
    text-align:left;
    font-size: 43px;
    /* this allows us to vertically align title text */
    /* look into other ways to do this */
    /* margin: 26px 0px; */
    
}

/* for the navigation links, excluding the title */
.topnav {
    /* vertical-align:text-bottom; */
    /* display:inline-block; */
    display:flex;
    height: 100px;
    padding-top: 3em;
    font-family: 'Karla';
    /* background-color:blue; */
    /* justify-content:space-evenly; */
 
    
}
.topnav a{
    /* display:inline-block; */
    /* flex:1 1 200px; */
    /* color: blue; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight:400;
    color:black;
    margin:auto;
    /* this allows us to vertically align title text */
    /* margin: 30px 0px; */
}

.topnav a:hover {
    /* background-color: #ddd; */
    color:#4976ff;
}

.topnav a.active {
    /* background-color: #4CAF50; */
    color: black;
    /* text-decoration: underline 1px; */
}

.topnavWrapper .icon{
    display:none;
    color:black;
}


.social {
    /* position:absolute; */
    /* text-align:right; */
    /* float: right; */
    /* display:inline-block; */
    /* align-self:flex-end; */
    flex:1;
    display:flex;
    justify-content:right;
    align-items:center;
    background-color: red;
    margin-left:auto;
    /* align-self:right; */
}

/* .social .icon{
    display:none;
} */

.social img {
    display:inline-block;
    width: 16;
    height: 16;
    /* padding: 0px 8px; */
    /* padding-bottom:15px; */
    /* vertical-align:sub; */
}

.social img:hover{
    filter:invert(.5);
}

.social i{
    padding: 0 8px;
    padding-bottom:13px;
}

a{
    color:lightcoral;
    text-decoration:none;
}

a:hover{
    color: #4976ff;
}

.content li{
    list-style-type:disc;
    padding-left:2em;
    max-width:1000px;
    margin:auto;
}

form {
    float: left;
    width: 50%;
}

form fieldset {
    height: 1em;
    padding-bottom:1em;
    padding-left:0;
    border:0;
    margin-bottom:.5em;
    /* background-color:red; */
}

textarea{
    width:550px;
    background-color:rgb(241, 241, 241);
    margin-top:.3em;
    padding:.8em 1em;
    border: 2px solid lightgray;
    font-family:inherit;
    font-size:17px;
}

input[type=text]{
    width:550px;
    background-color:rgb(241, 241, 241);
    margin-top:.3em;
    padding:.8em 1em;
    border: 2px solid lightgray;
    font-family:inherit;
    font-size:17px;
}

input[type=source]{
    width:550px;
    background-color:rgb(241, 241, 241);
    margin-top:.3em;
    padding:.8em 1em;
    border: 2px solid lightgray;
    font-family:inherit;
    font-size:17px;
}

.button{
    background-color: black;
    border:0;
    color:white;
    text-align:center;
    font-family:'Karla';
    font-size:24px;
    font-weight:200;
    text-transform:uppercase;
    padding: .75em 1.2em;
    cursor:pointer;
    transition-duration:.2s;
}

.button:hover{
    background-color:rgb(235, 235, 235);
}

.button:active{
    transform:translate(1px,2px);
}

.smallButton{
    background-color:black;
    border:0;
    color:white;
    text-align:center;
    font-family:'Karla';
    font-size:18px;
    font-weight:300;
    text-transform:uppercase;
    padding: .75em 1em;
    cursor:pointer;
    transition-duration:.2s;
}

.smallButton:hover{
    background-color:lightgray;
}

.smallButton:active{
    transform:translate(1px,2px);
}

/* When screen is < 700px */
@media screen and (max-width: 700px) {
    .portfolioContent{
        width:100%;
    }
    .portfolioContent img{
        width:100%;
    }

    /* social and nav disappears */
    .social img{
        display:none;
    }
    .topnav a{
        display:none;
    }
    /* icon appears here */
    .topnavWrapper a.icon{
        float:right;
        display:inline-block;
    }
    .title{
        display:inline;
    }
}

/*what clicking the thing will do?????? idk/??*/
/* "responsive" class added to topnav with JS when user clicks the icon? */
@media screen and (max-width: 700px) {
    .topnav.responsive{position:relative;}
    .topnav.responsive a.icon{
        position:absolute;
        right:0;
        top:0;
    }
    .topnav.responsive a{
        float:none;
        display:block;
        text-align:left;
    }
}

/* @media screen and (min-width: 1000px) {
    .content {
        margin-left: auto;
        margin-right: auto;
    }
} */